// paination {
//     width: 100%;
// }

.buttonload {
    background-color: #4CAF50; /* Green background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 12px 24px; /* Some padding */
    font-size: 16px; /* Set a font-size */
  }
  
  .fa {
    margin-left: -12px;
    margin-right: 8px;
  }

td {
    border: none !important;
}
// .form-sectionn {
//   color: #404E67;
//   line-height: 3rem;
//   margin-bottom: 20px;
//   border-bottom: 1px solid #404E67;
// }

.header {
    color: #065cb3;
    line-height: 3rem;
    margin-bottom: 20px;
    border-bottom: 1px solid #065cb3;
    width: 100%;
    i.ft-shopping-cart {
      margin-right: 1rem;
  }
}

.btn-lg, .btn-group-lg > .btn {
  padding: 1rem 1.25rem  !important;
  font-size: 1.25rem  !important;
  line-height: 0.75  !important;
  border-radius: 0.27rem  !important;
//font-family: inherit !important;
  font-size: 15px  !important;
}

td.display-price {
  min-width: 10rem;
}

// h4.header {
//   color: #065cb3 !important;
//   border-bottom: 1px solid #065cb3 !important;
// }