.textarea-single-ligne {
  width: 95.5%;
  float: right;
}
.btn-sm{
  // padding: 0.25rem 0.5rem  !important;
   font-size: 0.875rem  !important;
   line-height: 1.73rem  !important;
   border-radius: 0.21rem  !important;
   padding-top: 0px !important;
 }
 
 .btn-mail {
   color: white !important;
   background-color: #0f9497 !important;
   border-color: #2DCEE3 !important;
 }
 