.btn-secondary {
    color: white !important;
    background-color: #2DCEE3 !important;;
    border-color: #2DCEE3 !important;;
    }
    
    .card-body.download-Model {
        max-height: 28vw;
      }
      
      .btn-mail {
        color: white !important;
        background-color: #0f9497 !important;
        border-color: #0f9497 !important;
      }

      .badge-brouillon{
        background-color: #636e72 !important;  
        color: white !important;
      }
      .badge-annuler{
        background-color:#fe0000  !important;
        color: white !important;
      
      }
      .badge-enretard{
        background-color:#ffa87d  !important;
        color: white !important;
      }
      .badge-planifiee{
        background-color :#00d2d3 !important;
        color: white !important;
      }
      .badge-success{
        background-color: #2ecc71 !important;
        color: white !important;
      }

      .btn-round {
        padding: 5px 10px 5px 10px;
         margin-left: 10px;
      }
        