<div class="modal fade text-left" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel35"> {{'labels.changeThePassword' | translate}}</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="rest()">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <form [formGroup]="changePasswordForm" (ngSubmit)="change()" #f="ngForm">
                <div class="modal-body">
                    <div class="container">
                        <div class="form-group row">
                            <label class="col-md-4 label-control" for="password">{{'labels.password' | translate}} :
              </label>
                            <div class="col-md-8">
                                <show-hide-password icon="fa fa eye" btnStyle="primary" [btnOutline]="false">
                                    <input type="password" formControlName="password" id="password" class="form-control" placeholder="{{'labels.password' | translate}}" #password>
                                </show-hide-password>
                                <div *ngIf="changePasswordForm.touched && changePasswordForm.invalid">
                                    <div class="alert alert-danger" *ngIf="changePasswordForm.hasError('required', 'password')">
                                        {{'errors.required'|translate}}
                                    </div>
                                    <div class="alert alert-danger" *ngIf="changePasswordForm.hasError('minlength', 'password')">
                                        {{'errors.minLength'|translate:{ number:5} }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 label-control" for="confirmPassword">{{'labels.confirmPassword' |
                translate}} : </label>
                            <div class="col-md-8">
                                <show-hide-password icon="fa fa eye" btnStyle="primary" [btnOutline]="false">
                                    <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control" placeholder="{{'labels.confirmPassword' | translate}}" #confirmPassword>
                                </show-hide-password>
                                <div *ngIf="changePasswordForm.touched && changePasswordForm.invalid">
                                    <div class="alert alert-danger" *ngIf="changePasswordForm.hasError('notSame')">
                                        {{'errors.passwordsDoNotMatch'|translate}}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <input type="reset" class="btn btn-ligth btn-lg" data-dismiss="modal" [value]="'labels.close' | translate" (click)="rest()">
                    <!-- <input type="submit" class="btn btn-outline-primary btn-lg" data-dismiss="modal" [value]="'labels.edit' | translate"> -->
                    <input type="submit" [disabled]="!changePasswordForm.touched || !changePasswordForm.valid" class="btn btn-success btn-lg" [value]="'labels.edit' | translate" (click)="confirmPassword.value = null;password.value = null" />
                </div>
            </form>
        </div>
    </div>
</div>