<div class="content-body">
  <section id="horizontal-form-layouts">
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="zoom: 1;">

          <div class="card-header">

            <div class="heading-elements pdfView">
              <a data-toggle="modal" data-target="#PdfView" class="btn btn-eye" (click)="generatePDFBase64(facture?.id)"
                style="color:white; margin-right: 1rem;" placement="bottom"
                ngbTooltip="{{'labels.VisualiserPdf' | translate}}">
                <span>{{'labels.VisualiserPdf' | translate}}</span>
                <i class="ft-eye" style="color:white;  background-color:#268EA6;"></i>
              </a>
            </div>
          </div>
          <div class="card-content collpase show">
            <div class="card-body">
              <!-- Information à saisir -->
              <form class="form form-horizontal">
                <div class="form-body">
                  <!-- Information facture-->
                  <h4 class="form-section">
                    <i class="ft-file-text"></i>{{ 'labels.infoFacture' | translate }}
                  </h4>

                  <!-- Reference + Client -->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput189">{{
                          'labels.reference' | translate
                        }}</label>
                        <div class="col-md-9">
                          <input type="text" [value]="facture?.reference" id="projectinput189" class="form-control"
                            disabled />
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput2">{{
                          'labels.chantier' | translate
                        }}</label>

                        <div class="col-md-9">
                          <input type="text" class="form-control" [value]="facture?.chantier?.nom" disabled />
                        </div>
                      </div>
                    </div>
                  </div>


                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput189">{{
                            'labels.client' | translate
                          }}</label>
                        <!-- <div class="col-md-9">
                          <input type="text" [value]="client?.nom" id="projectinput189" class="form-control" disabled />
                        </div> -->
                        <div class="col-md-9" *ngIf="facture?.idChantier  != null">
                          <input type="text" [value]="client?.nom" id="projectinput189" class="form-control" disabled />
                        </div>
                        <div class="col-md-9" *ngIf="facture?.idChantier  == null">
                          <input type="text" [value]="facture?.client?.nom" id="projectinput189" class="form-control"
                            disabled />
                        </div>

                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput2">{{
                              'labels.adresseFacturation' | translate
                          }}</label>
                        <!-- <div class="col-md-9">
                          <input type="text" class="form-control" [value]="getAdresseDesignation(client?.adresses)"
                            disabled />
                        </div> -->

                        <div class="col-md-9" *ngIf="facture?.idChantier  != null">
                          <input type="text" class="form-control" [value]="getAdresseDesignation(client?.adresses)"
                            disabled />
                        </div>
                        <div class="col-md-9" *ngIf="facture?.idChantier  == null">
                          <input type="text" class="form-control"
                            [value]="getAdresseDesignation(facture?.client?.adresses)" disabled />
                        </div>

                      </div>
                    </div>
                  </div>


                  <!-- date creation + date echeance -->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput3">{{
                          'labels.dateCreation' | translate
                        }}</label>
                        <div class="col-md-9">
                          <input type="text" [value]="facture?.dateCreation | date: 'dd/MM/yyyy'" id="projectinput175"
                            class="form-control" disabled />
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput39">{{
                          'labels.dateEcheance' | translate
                        }}</label>
                        <div class="col-md-9">
                          <input type="text" [value]="facture?.dateEcheance | date: 'dd/MM/yyyy'" id="projectinput178"
                            class="form-control" disabled />
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- objet -->
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-md-1 label-control" for="projectinput3">{{
                            'labels.objet' | translate
                          }}</label>
                        <div class="col-md-11">
                          <textarea type="text" class="form-control textarea-single-ligne"
                            style="width: 95.5%;float: right;" [value]="facture?.object" disabled></textarea>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <h4 class="form-section">
                  <i class="ft-shopping-cart"></i>{{ 'labels.articles' | translate }}
                </h4>

                <div class="row">
                  <div class="col-md-12" *ngIf="facture?.typeFacture == typeFacture.Acompte">
                    <table-article-facture-acompte [puc]="facture?.puc"
                      [retenueGarantieValue]="facture?.retenueGarantie" [delaiGarantie]="facture?.delaiGarantie"
                      [partProrata]="facture?.prorata" [tvaGlobal]="facture?.tvaGlobal" [articles]="articles"
                      [readOnly]="true">
                    </table-article-facture-acompte>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12" *ngIf="facture?.typeFacture == typeFacture.Generale">
                    <table-article [puc]="facture?.puc" [remiseGloabl]="facture?.remise"
                      [retenueGarantieValue]="facture?.retenueGarantie" [typeRemiseGloabl]="facture?.typeRemise"
                      [partProrata]="facture?.prorata" [tvaGlobal]="facture?.tvaGlobal" [articles]="articles"
                      [readOnly]="true" [delaiGarantie]="facture?.delaiGarantie">
                    </table-article>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12" *ngIf="facture?.typeFacture == typeFacture.Situation">
                    <table-article-situation [retenueGarantieValue]="facture?.retenueGarantie"
                      [delaiGarantie]="facture?.delaiGarantie" [readOnly]="true" [facture]="facture">
                    </table-article-situation>
                  </div>
                </div>


                <!-- Section d'autre -->
                <h4 class="form-section">
                  <i class="ft-message-circle"></i>{{ 'labels.autres' | translate }}
                </h4>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-md-12 label-control" for="conditionRegelement">{{
                        'labels.conditionRegelement' | translate
                      }}</label>
                      <div class="col-md-12">
                        <!-- <textarea type="text" id="conditionRegelement" class="form-control"
                          disabled>{{ facture?.conditionRegelement }}</textarea> -->
                        <angular-editor [config]="editorConfig" id="conditionRegelement"
                          [ngModel]="facture?.conditionRegelement" [ngModelOptions]="{standalone: true}">
                        </angular-editor>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-md-12 label-control" for="note">{{
                        'labels.note' | translate
                      }}</label>
                      <div class="col-md-12">
                        <angular-editor [config]="editorConfig" id="note" [ngModel]="facture?.note"
                          [ngModelOptions]="{standalone: true}"></angular-editor>

                      </div>
                    </div>
                  </div>
                </div>

                <!-- Document associé-->

                <ng-container
                  *ngIf="facture?.ficheInterventions?.length > 0 || facture?.avoirs?.length > 0 || facture?.devis != null">
                  <h4 class="form-section"><i class="fa fa-files-o"></i>{{'labels.documentAssocie' | translate}}</h4>

                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>{{ 'labels.type' | translate }}</th>
                          <th>{{ 'labels.reference' | translate }}</th>
                          <th>{{ 'labels.dateCreation' | translate }}</th>
                          <th>{{ 'labels.statut' | translate }}</th>
                        </tr>
                      </thead>
                      <tbody>

                        <!-- LES FICHES intervention -->
                        <tr *ngFor="let item of facture?.ficheInterventions">
                          <td> {{ 'labels.ficheInterventions' | translate }} </td>
                          <td><a [routerLink]="[ '/ficheintervention/detail', item.id ]">{{ item?.reference }}</a>
                          </td>
                          <td> {{ item?.dateCreation | date:'dd/MM/yyyy' }} </td>
                          <td>
                            <span class="badge badge-default badge-success">{{ 'labels.facturee' | translate }}</span>
                          </td>
                        </tr>


                        <!-- devis -->
                        <tr *ngIf="facture?.devis != null">
                          <td> {{ 'labels.devis' | translate }} </td>
                          <td><a
                              [routerLink]="[ '/devis/detail', facture?.devis?.id ]">{{ facture?.devis?.reference }}</a>
                          </td>
                          <td> {{ facture?.devis?.dateCreation | date:'dd/MM/yyyy' }} </td>
                          <td *ngIf="facture?.devis?.status == statutDevis.EnAttente">
                            <span
                              class="badge badge-default badge-secondary">{{ 'labels.enAttente' | translate }}</span>
                          </td>
                          <td *ngIf="facture?.devis?.status == statutDevis.Acceptee">
                            <span class="badge badge-default badge-success">{{ 'labels.acceptee' | translate }}</span>
                          </td>
                          <td *ngIf="facture?.devis?.status == statutDevis.Annulee">
                            <span
                              class="badge badge-default badge-info badge-annuler">{{ 'labels.annuleed' | translate }}</span>
                          </td>
                          <td *ngIf="facture?.devis?.status == statutDevis.NonAcceptee">
                            <span
                              class="badge badge-default badge-info nonaccepter">{{ 'labels.nonacceptee' | translate }}</span>
                          </td>
                          <td *ngIf="facture?.devis?.status == statutDevis.Facture">
                            <span
                              class="badge badge-default badge-info facture">{{ 'labels.facture' | translate }}</span>
                          </td>
                        </tr>
                        <!-- Avoir -->
                        <tr *ngFor="let item of facture?.avoirs">
                          <td> {{ 'labels.avoir' | translate }} </td>
                          <td><a [routerLink]="[ '/avoirs/detail', item.id ]">{{ item?.reference }}</a></td>
                          <td> {{ item?.dateCreation | date:'dd/MM/yyyy' }} </td>
                          <td>
                            <span *ngIf="item?.status == statutAvoir.Brouillon"
                              class="badge badge-default badge-light">{{ 'labels.brouillon' | translate }}</span>
                            <span *ngIf="item?.status == statutAvoir.Encours"
                              class="badge badge-default badge-secondary">{{ 'labels.encours' | translate }}</span>
                            <span *ngIf="item?.status == statutAvoir.Utilise"
                              class="badge badge-default badge-success">{{ 'labels.utilise' | translate }}</span>
                            <span *ngIf="item?.status == statutAvoir.Expire"
                              class="badge badge-default badge-danger">{{ 'labels.expire' | translate }}</span>
                          </td>
                        </tr>
                        <!-- Avoir -->

                      </tbody>
                    </table>
                  </div>
                </ng-container>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="modal fade text-left" id="PdfView" tabindex="-1" role="dialog" aria-labelledby="PdfView" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">

        <h4 class="modal-title" id="PdfView">
          <i class="ft-file-minus"></i>
          {{ 'labels.VisualiserPdf' | translate }}
        </h4>

        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body">
        <div class="card-body download-Model">

          <!-- <a class="btn btn-secondary" style="color:white;" (click)="generatePDF()" placement="bottom"
            ngbTooltip="{{'labels.telecharger' | translate}}">
            {{ 'labels.telecharger' | translate }} <i class="fa fa-download"></i>
          </a> -->

          <app-visualiser-pdf [base64]="base64"></app-visualiser-pdf>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn grey btn-secondary"
          data-dismiss="modal">{{ 'labels.cancel' | translate }}</button>
        <button type="button" class="btn btn-success" (click)="generatePDF(facture?.id)">
          {{ 'labels.telecharger' | translate }}
        </button>
      </div>
    </div>
  </div>
</div>