.img-thumbnail {
    width: 74%;
    background: #fff;
}

.heading-elements {
    .badge {
        font-size: 15px;
        // padding: 6px 20px;
        border-radius: 16px;
        top: -45px !important;
    }
}

.rich-text-value {
    border: 1px #ccd6e6 solid;
    padding: 1.5rem 1rem;
    min-height: 5rem;
    background-color: #ebebeb;
}

.badge-brouillon {
    background-color: #636e72 !important;
}

.badge-annuler {
    background-color: #fe0000 !important;
}

.badge-enretard {
    background-color: #ffa87d !important;
}

.badge-planifiee {
    background-color: #00d2d3 !important;
}

.badge-success {
    background-color: #2ecc71 !important;
}

.nonaccepter {
    background-color: #ff7588 !important;
  }
 
  .badge-secondary {
    background-color: #ffa87d !important;
  }
  
  .badge-success {
    background-color: #16d39a !important;
  }
  .facture{
    background-color:  #3498db !important;
  }

.card-header {
    background: #ffffff !important;
    color: white !important;
    font-size: 5px !important;
    padding: 1rem 1.5rem;
}

.ft-eye{
   // font-size: larger !important;
    padding-left: 5px !important;
   }
  .btn-eye{
    background-color: #268EA6 ;
  }
    .pdfView{
        color: white;
         margin-right: 1rem;
         margin-top: -70px;
      //   background-color: #2DCEE3 ;
    }
  .card-body.download-Model {
    max-height: 38vw;
  }
//   .modal-body {
//     max-height: 40vw !important;
//     //overflow: auto; 
// }
  .btn-mail {
    color: white !important;
    background-color: #0f9497 !important;
    border-color: #0f9497 !important;
  }

  .modal-body {
    max-height: 100vw !important;
    overflow: auto;
}
