

.img-thumbnail {
  width: 74%;
  background: #fff;
}

.heading-elements {
  .badge {
      font-size: 15px;
      // padding: 6px 20px;
      border-radius: 16px;
      top: -45px !important;
  }
}

.rich-text-value {
  border: 1px #ccd6e6 solid;
  padding: 1.5rem 1rem;
  min-height: 5rem;
  background-color: #ebebeb;
}

.badge-brouillon {
  background-color: #636e72 !important;
}

.badge-annuler {
  background-color: #fe0000 !important;
}

.badge-enretard {
  background-color: #ffa87d !important;
}

.badge-planifiee {
  background-color: #00d2d3 !important;
}

.badge-success {
  background-color: #2ecc71 !important;
}




.card-header {
  background: #ffffff !important;
  color: white !important;
  font-size: 5px !important;
  padding: 1rem 1.5rem;
}

.ft-download{
  width: 74%;
  color: #16d39a;

  font-size: 20px;
}
.dropzone{
  padding-right: 20px;
}

