<div class="content-header row">
  <div class="content-header-left col-md-6 col-12 mb-2">
    <h3 class="content-header-title mb-0">{{ 'add.title' | translate}}</h3>
    <div class="row breadcrumbs-top">
      <div class="breadcrumb-wrapper col-12">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a [routerLink]="['/fournisseurs']">{{'title' | translate}}</a>
          </li>
          <li class="breadcrumb-item active">{{ 'add.title' | translate}}
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="content-header-right col-md-6 col-12">
    <div class="btn-group float-md-right" role="group">
      <button type="button" [routerLink]="['/fournisseurs']" class="btn btn-warning mr-1" placement="bottom"
        ngbTooltip="{{'labels.cancel' | translate}}">
        <i class="ft-x"></i> {{'labels.cancel' | translate}}
      </button>
      <button (click)="add()" type="submit" class="btn btn-success" placement="bottom"
        ngbTooltip="{{ 'labels.sauvegarder' | translate }} {{ 'labels.fournisseur' | translate }}">
        <i class="fa fa-check-square-o"></i> {{ 'labels.sauvegarder' | translate }}
      </button>
    </div>
  </div>
</div>
<div class="content-body">

  <section id="horizontal-form-layouts">
    <!-- Form d'information de fournisseur -->
    <div class="row">
      <div class="col-md-12">
        <div class="card" style="zoom: 1;">
          <div class="card-content collpase show">
            <div class="card-body">
              <form class="form form-horizontal" [formGroup]="form" (ngSubmit)="add()">
                <div class="form-body">

                  <h4 class="form-section"><i class="ft-user"></i>{{'labels.info' | translate}}</h4>

                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control"
                          for="projectinput1">{{'labels.reference' | translate}}</label>
                        <div class="col-md-8">
                          <input type="text" formControlName="reference" id="projectinput1" class="form-control"
                            placeholder="{{'labels.reference' | translate}}">
                          <small class="text-danger"
                            *ngIf="f?.reference?.hasError('CheckUniqueReference')">{{'errors.unique' | translate }}</small>
                          <small class="text-danger"
                            *ngIf="f?.reference?.errors?.required">{{'errors.required' | translate }}</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput2">{{'labels.nom' | translate}}</label>
                        <div class="col-md-9">
                          <input type="text" (input)="generateCodeComptable()" formControlName="nom" id="projectinput2"
                            class="form-control" placeholder="{{'labels.nom' | translate}}">
                          <small class="text-danger"
                            *ngIf="f?.nom?.errors?.required">{{'errors.required' | translate  }}</small>
                          <small class="text-danger"
                            *ngIf="f?.nom?.errors?.minlength">{{'errors.minLength' | translate:{number:5} }}</small>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control"
                          for="projectinput4">{{'labels.telephone' | translate}}</label>
                        <div class="col-md-8">
                          <input type="text" formControlName="telephone" id="projectinput4" class="form-control"
                            placeholder="{{'labels.telephone' | translate}}">
                          <small class="text-danger"
                            *ngIf="f?.telephone?.errors?.minlength">{{'errors.minLength' | translate:{number:10} }}</small><br>
                          <small class="text-danger" *ngIf="f?.telephone?.errors?.pattern">
                            {{'errors.pattern' | translate}} </small>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput4">{{'labels.fax' | translate}}</label>
                        <div class="col-md-9">
                          <input type="text" formControlName="fax" id="projectinput4" class="form-control"
                            placeholder="{{'labels.fax' | translate}}">
                          <small class="text-danger" *ngIf="f?.fax?.errors?.pattern">
                            {{'errors.pattern' | translate}}
                          </small>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput4">{{'labels.email' | translate}}</label>
                        <div class="col-md-8">
                          <input type="email" formControlName="email" id="projectinput4" class="form-control"
                            placeholder="{{'labels.email' | translate}}">
                          <small class="text-danger" *ngIf="f?.email?.errors?.pattern">
                            {{'errors.pattern' | translate}}
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control"
                          for="projectinput4">{{'labels.siteWeb' | translate}}</label>
                        <div class="col-md-9">
                          <input type="text" formControlName="siteWeb" id="projectinput4" class="form-control"
                            placeholder="{{'labels.siteWeb' | translate}}">
                          <small class="text-danger" *ngIf="f?.siteWeb?.errors?.pattern">
                            {{'errors.pattern' | translate}}
                          </small>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput4">{{'labels.tvaIntraCommunautaire' |
                          translate}}</label>
                        <div class="col-md-8">
                          <input type="number" formControlName="tvaIntraCommunautaire" id="projectinput4"
                            class="form-control" placeholder="{{'labels.tvaIntraCommunautaire' | translate}}">
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control"
                          for="projectinput4">{{'labels.codeComptable' |translate}}</label>
                        <div class="col-md-9">
                          <input type="text" formControlName="codeComptable" id="projectinput4" class="form-control"
                            placeholder="{{'labels.codeComptable' | translate}}">
                        </div>
                      </div>
                    </div>

                  </div>


                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput4">{{'labels.siret' | translate}}</label>
                        <div class="col-md-8">
                          <input type="number" formControlName="siret" id="projectinput4" class="form-control"
                            placeholder="{{'labels.siret' | translate}}">
                        </div>
                      </div>
                    </div>


                  </div>

                  <h4 class="form-section"><i class="ft-map-pin"></i> {{ 'labels.adresse' | translate }}</h4>

                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control"
                          for="projectinput4">{{'labels.adresse' | translate}}</label>
                        <div class="col-md-8">
                          <input type="text" formControlName="adresse" id="projectinput4" class="form-control"
                            placeholder="{{'labels.adresse' | translate}}">
                          <small class="text-danger"
                            *ngIf="f?.adresse?.errors?.required">{{'errors.required' | translate }}</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control"
                          for="projectinput4">{{'labels.complementAdresse' | translate}}</label>
                        <div class="col-md-9">
                          <input type="text" formControlName="complementAdresse" id="projectinput4" class="form-control"
                            placeholder="{{'labels.complementAdresse' | translate}}">
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput4">{{'labels.ville' | translate}}</label>
                        <div class="col-md-8">
                          <ng-select (search)="SearchVille($event)" (change)="changeCodePostal($event)"
                            labelForId=projectinput2 [addTag]="true" placeholder="{{'labels.ville' | translate}}"
                            [hideSelected]="true" formControlName="ville"
                            notFoundText="{{'labels.noFoundItem' | translate}}"
                            addTagText="{{'labels.add' | translate}}">
                            <ng-option *ngFor="let item of villes;let i = index" value="{{item?.villeNomReel}}">
                              {{item?.villeNomReel}} </ng-option>
                          </ng-select>
                          <small class="text-danger" *ngIf="f?.ville?.errors?.required">{{'errors.required' | translate
                            }}</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control"
                          for="projectinput4">{{'labels.codePostal' | translate}}</label>
                        <div class="col-md-9">
                          <input type="text" formControlName="codePostal" id="projectinput4" class="form-control"
                            placeholder="{{'labels.codePostal' | translate}}">
                          <small class="text-danger"
                            *ngIf="f?.codePostal?.errors?.invalidNumber">{{'labels.invalidNumber' | translate}}</small>
                        </div>
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control"
                          for="projectinput4">{{'labels.departement' | translate}}</label>
                        <div class="col-md-8">
                          <ng-select labelForId=projectinput2 [addTag]="true"
                            placeholder="{{'labels.departement' | translate}}" [hideSelected]="true"
                            formControlName="departement" notFoundText="{{'labels.noFoundItem' | translate}}"
                            addTagText="{{'labels.add' | translate}}">
                            <ng-option *ngFor="let item of departements;let i = index" value="{{item?.departementNom}}">
                              {{item?.departementNom}}
                            </ng-option>
                          </ng-select>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-md-3 label-control" for="projectinput4">{{'labels.pays' | translate}}</label>
                        <div class="col-md-9">
                          <select formControlName="idPays" (change)="GetDepartements($event.target.value)"
                            class="form-control" id="basicSelect">
                            <option value=""></option>
                            <option *ngFor="let item of pays" value="{{item?.id}}">{{item?.nomFrFr}}</option>
                          </select>
                          <small class="text-danger"
                            *ngIf="f?.idPays?.errors?.required">{{'errors.required' | translate }}</small>
                        </div>
                      </div>
                    </div>

                  </div>

                </div>
              </form>

              <!-- contacts -->
              <liste-contacts [contacts]="contacts" (remove)="removeContact($event)"
                (listContacts)="getListContacts($event)" [show]="true"></liste-contacts>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div class="row">
        <div class="col-md-12" style="zoom: 1;">
          <div class="btn-group float-md-left" role="group">
            <button type="button" [routerLink]="['/fournisseurs']" class="btn btn-warning mr-1" placement="top"
              ngbTooltip="{{'labels.cancel' | translate}}">
              <i class="ft-x"></i> {{'labels.cancel' | translate}}
            </button>
            <button (click)="add()" type="submit" class="btn btn-success" placement="top"
              ngbTooltip="{{ 'labels.sauvegarder' | translate }} {{ 'labels.fournisseur' | translate }}">
              <i class="fa fa-check-square-o"></i> {{ 'labels.sauvegarder' | translate }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <br><br>

  </section>
</div>