.card-contact {
    border: 2px #000 solid !important;
    box-shadow: 2px 4px #404e67 !important;
}
.paddingTop {
    padding-top : 0rem !important;
    position: relative;
    bottom: 0.1rem;
}

.Label-radion-btn{
    padding: 1rem;
    position: relative;
    bottom: 0.15rem;
}