label {
    line-height: 35px;
  }
  
  .modal-dialog {
    margin: 0 !important;
    padding: 0 !important;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button {
    margin-left: 3px;
  }
  
  mat-dialog-content.mat-dialog-content {
    width: 100%;
    margin: 0;
  }
  
  h1.modal-title.mat-dialog-title {
  
    color: white;
    background: #065cb3;
    text-align: center !important;
    align-items: flex-start;
    justify-content: space-between;
  // 
    padding: 1rem;
    padding-top: 0.2rem;
    border-top-left-radius: 0.27rem;
    border-top-right-radius: 0.27rem;
  }
  mat-dialog-content.mat-dialog-content {
    padding: 0;
  }
  
  .footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid #98a4b8;
    color: white;
    background: #ffffff;
    margin: 0 !important;
    padding: 0.3rem 0.5rem !important;
  }
  h1#mat-dialog-title-3 {
    padding-top: 10px  !important;
  }
  