<div class="row golbal-container">
  <div class="offset-md-4 col-md-4 offset-sm-2 col-sm-8 offset-xs-1 col-xs-10">
    <div class="card border-grey border-lighten-3 m-0">
      <div class="card-header border-0">
        <div class="card-title text-center">
          <div class="p-1">
            <img src="assets/app/imgs/sbp.png" alt="branding logo">
            <h2 class="brand-text" style="color: white;">SARL BLANCHET PROVOST</h2>
          </div>
          <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>{{ 'recover.msg'
              | translate }}</span></h6>
        </div>

      </div>
      <div class="card-content">
        <div class="card-body">

          <fieldset class="form-group position-relative has-icon-left mb-0 validate">
            <input type="text" [ngClass]="{'is-valid': !f?.email?.errors?.email, 'is-invalid': f?.email?.errors?.email}"
              formControlName="email" class="form-control form-control-lg" id="inlineFormInputGroup"
              placeholder="{{ 'recover.email' | translate }}">
          </fieldset>

          <button class="btn btn-primary btn-lg btn-block" (click)="recover()"
          style="margin-top: 15px;">
              {{ 'labels.recoverPassword' | translate }}
          </button>


          <!-- </form> -->
        </div>

        <div class="card-footer border-0">
          <div class="form-group row" style="float: right !important;padding-right: 15px;">
              <p class="float-sm-left text-center"><a  [routerLink]="[ '/login']" class="card-link">{{ 'labels.login' | translate }}</a></p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>