// //content-header row
.mb-2, .my-2 {
   margin-top: 1rem !important;
  // padding-right: 1rem !important;
  // padding: 1.8rem !important;
//  padding-right: 1rem !important;
 //   margin-bottom: 1.5rem !important;
}
// .content-header .row {
//    // padding-right: 1rem !important;
// }
//  html body .content .content-wrapper {
//  //   padding-left: 1rem !important;
//   //  margin-right: 15px;
//   //  margin-left: 15px;
    
//  }

// // .col-md-12 {
// //     padding-right: 1rem !important;
// // }
// // .content-header-right .col-md-6 .col-12{
// //     margin-top: 1rem !important;

// // }

.col-12 {
   
    margin-top: 1rem !important;
    //margin-left: 1px !important;
   // margin-right: 1px !important;
}
.content-header .row{
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
.content-header-title .mb-0{
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}
 .margin{
    padding-right: 1rem !important;
    padding-left: 1rem !important;
}


.btn-lg, .btn-group-lg > .btn {
    // padding: 1rem 1.25rem;
    // font-size: 1.25rem;
    // line-height: 1.25;
    // border-radius: 0.27rem;
    line-height: 0.75 !important;
    border-radius: 0.27rem !important;
    font-size: 15px !important;}