<div class="content-header row">
    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">{{ 'add.title' | translate}}</h3>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/clients']">{{'title' | translate}}</a>
                    </li>
                    <li class="breadcrumb-item active">{{ 'add.title' | translate}}
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="content-header-right col-md-6 col-12 margin ">
        <div class="btn-group float-md-right" role="group">
            <button type="button" [routerLink]="['/clients']" class="btn btn-warning mr-1" placement="bottom"
                ngbTooltip="{{'labels.cancel' | translate}}">
                <i class="ft-x"></i> {{'labels.cancel' | translate}}
            </button>
            <button (click)="add()" type="submit" class="btn btn-success" placement="bottom"
                ngbTooltip="{{ 'labels.sauvegarder' | translate }} {{ 'labels.client' | translate }}">
                <i class="fa fa-check-square-o"></i> {{ 'labels.sauvegarder' | translate }}
            </button>
        </div>
    </div>
</div>
<div class="content-body">
    <section id="horizontal-form-layouts">
        <!-- Form d'information de client -->
        <div class="row">
            <div class="col-md-12">
                <div class="card" style="zoom: 0;">
                    <div class="card-content collpase show">
                        <div class="card-body">

                            <form class="form form-horizontal" [formGroup]="form">
                                <div class="form-body">
                                    <h4 class="form-section"><i class="ft-user"></i>{{'labels.info' | translate}}</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control"
                                                    for="projectinput1">{{ 'labels.codeclient' | translate }}</label>
                                                <div class="col-md-8">
                                                    <input type="text" formControlName="codeclient" id="projectinput1"
                                                        class="form-control"
                                                        placeholder="{{ 'labels.codeclient' | translate }}">
                                                    <small class="text-danger"
                                                        *ngIf="f?.codeclient?.hasError('CheckUniqueCodeClient')">{{'errors.unique' | translate }}</small>
                                                    <small class="text-danger"
                                                        *ngIf="f?.codeclient?.errors?.required">{{'errors.required' | translate }}</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row ">
                                                <label class="col-md-3 label-control"
                                                    for="projectinput2">{{ 'labels.nom' | translate }}</label>
                                                <div class="col-md-8">
                                                    <input type="text" (input)="generateCodeComptable()"
                                                        formControlName="nom" id="projectinput2" class="form-control"
                                                        placeholder="{{ 'labels.nom' | translate }}">
                                                    <small class="text-danger"
                                                        *ngIf="f?.nom?.errors?.required">{{'errors.required' | translate }}</small>
                                                    <small class="text-danger"
                                                        *ngIf="f?.nom?.errors?.minlength">{{'errors.minLength' | translate:{number:2} }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control"
                                                    for="projectinput17">{{'labels.groupe' | translate}}</label>
                                                <div class="col-md-8">
                                                    <ng-select labelForId=projectinput16
                                                        placeholder="{{'labels.groupe' | translate}}"
                                                        [hideSelected]="true" formControlName="IdGroupe"
                                                        notFoundText="{{'labels.noFoundItem' | translate}}">
                                                        <ng-option *ngFor="let item of groupes;let i = index"
                                                            value="{{item.id}}">{{item.nom}}</ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control"
                                                    for="projectinput1">{{ 'labels.reference' | translate }}</label>
                                                <div class="col-md-8">
                                                    <input type="text" formControlName="reference" id="projectinput1"
                                                        class="form-control"
                                                        placeholder="{{ 'labels.reference' | translate }}">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control"
                                                    for="projectinput5">{{ 'labels.telephone' | translate }}</label>
                                                <div class="col-md-8">
                                                    <input type="text" formControlName="telephone" id="projectinput4"
                                                        class="form-control"
                                                        placeholder="{{ 'labels.telephone' | translate }}">
                                                    <small class="text-danger"
                                                        *ngIf="f?.telephone?.errors?.minlength">{{'errors.minLength' | translate:{number:10} }}</small><br>
                                                    <small class="text-danger" *ngIf="f?.telephone?.errors?.pattern">
                                                        {{'errors.pattern' | translate}}
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control"
                                                    for="projectinput6">{{ 'labels.fax' | translate }}</label>
                                                <div class="col-md-8">
                                                    <input type="text" formControlName="fax" id="projectinput4"
                                                        class="form-control"
                                                        placeholder="{{ 'labels.fax' | translate }}">
                                                    <small class="text-danger" *ngIf="f?.fax?.errors?.pattern">
                                                        {{'errors.pattern' | translate}}
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control"
                                                    for="projectinput7">{{ 'labels.email' | translate }}</label>
                                                <div class="col-md-8">
                                                    <input type="email" formControlName="email" id="projectinput4"
                                                        class="form-control"
                                                        placeholder="{{ 'labels.email' | translate }}">
                                                    <small class="text-danger" *ngIf="f?.email?.errors?.pattern">
                                                        {{'errors.pattern' | translate}}
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control"
                                                    for="projectinput8">{{ 'labels.siteWeb' | translate }}</label>
                                                <div class="col-md-8">
                                                    <input type="text" formControlName="siteWeb" id="projectinput4"
                                                        class="form-control"
                                                        placeholder="{{ 'labels.siteWeb' | translate }}">
                                                    <small class="text-danger" *ngIf="f?.siteWeb?.errors?.pattern">
                                                        {{'errors.pattern' | translate}}
                                                    </small>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control"
                                                    for="projectinput9">{{ 'labels.siret' | translate }}</label>
                                                <div class="col-md-8">
                                                    <input type="text" formControlName="siret" id="projectinput4"
                                                        class="form-control"
                                                        placeholder="{{ 'labels.siret' | translate }}">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control"
                                                    for="projectinput10">{{ 'labels.tvaIntraCommunautaire' | translate }}</label>
                                                <div class="col-md-8">
                                                    <input type="text" formControlName="tvaIntraCommunautaire"
                                                        id="projectinput4" class="form-control"
                                                        placeholder="{{ 'labels.tvaIntraCommunautaire' | translate }}">
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control"
                                                    for="projectinput16">{{'labels.defaultAgent' | translate}}</label>
                                                <div class="col-md-8">
                                                    <ng-select labelForId=projectinput16
                                                        placeholder="{{'labels.defaultAgent' | translate}}"
                                                        [hideSelected]="true" formControlName="idAgent"
                                                        notFoundText="{{'labels.noFoundItem' | translate}}">
                                                        <ng-option *ngFor="let item of agents;let i = index"
                                                            value="{{item.id}}">{{item.nom}} {{item.prenom}}</ng-option>
                                                    </ng-select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-md-3 label-control"
                                                    for="projectinput11">{{ 'labels.codeComptable' | translate }}</label>
                                                <div class="col-md-8">
                                                    <input type="text" formControlName="codeComptable"
                                                        id="projectinput4" class="form-control"
                                                        placeholder="{{ 'labels.codeComptable' | translate }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </form>

                            <list-address [addresses]="adresses" (remove)="removeAdresse($event)"
                                (listContacts)="getListAdresses($event)" [show]="true"
                                [hideAddBtn]="adresses?.length == 1"></list-address>

                            <!-- contacts -->
                            <liste-contacts [contacts]="contacts" (remove)="removeContact($event)"
                                (listContacts)="getListContacts($event)" [show]="true"></liste-contacts>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-12" style="zoom: 1;">
                    <div class="btn-group float-md-left" role="group">
                        <button type="button" [routerLink]="['/clients']" class="btn btn-warning mr-1" placement="top"
                            ngbTooltip="{{'labels.cancel' | translate}}">
                            <i class="ft-x"></i> {{'labels.cancel' | translate}}
                        </button>
                        <button (click)="add()" type="submit" class="btn btn-success" placement="top"
                            ngbTooltip="{{ 'labels.sauvegarder' | translate }} {{ 'labels.client' | translate }}">
                            <i class="fa fa-check-square-o"></i> {{ 'labels.sauvegarder' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br><br>
    </section>
</div>