<div class="row golbal-container">
  <div class="offset-md-4 col-md-4 offset-sm-2 col-sm-8 offset-xs-1 col-xs-10">
    <div class="card border-grey border-lighten-3 m-0">
      <div class="card-header border-0">
        <div class="card-title text-center">
          <div class="p-1">
            <img src="assets/app/imgs/sbp.png" alt="branding logo">
            <h2 class="brand-text" style="color: white;">SARL BLANCHET PROVOST</h2>
            <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2"><span>{{ 'changePassword.msg'
                        | translate }}</span></h6>
          </div>
        </div>

      </div>
      <div class="card-content">
        <div class="card-body">
          <form class="form" role="form" autocomplete="off" [formGroup]="form">


            <fieldset class="form-group position-relative has-icon-left mb-0 validate">
              <show-hide-password icon="fa fa eye" btnStyle="primary" [btnOutline]="false">
                <input type="password" style="border: 1px #2e6da4 solid;" formControlName="password"
                  class="form-control form-control-lg" id="inlineFormInputGroup"
                  placeholder="{{ 'changePassword.password' | translate }}">
              </show-hide-password>
              <div class="form-control-position">
                <ng-container *ngIf="form.touched && form.controls.password.errors != null">
                  <p style="padding: 1.5vw 0vw 0vw 0vw;color: red;">{{ 'changePassword.minLengthErrors' | translate }}
                  </p>
                </ng-container>
              </div>
            </fieldset>

            <button class="btn btn-primary btn-lg btn-block btn-recover" (click)="recover()">
              {{ 'changePassword.save' | translate }}
            </button>
          </form>

          <!-- </form> -->
        </div>

      </div>

    </div>
  </div>
</div>