.custom-card-header {
    padding-top: 2em !important;padding-bottom: 1em !important;
}

.custom-btn-outline-info {
    float: right;margin: 0 !important;position: relative;top: -10px;
}

.labelsTable tr td:nth-child(3),.labelsTable tr th:nth-child(3) {
    text-align: center;
}

.no-data-available {
    text-align: center;
}
