.card-search{
    border: 0.05vw solid #9099a224;
    border-radius: 2px;
    box-shadow: 2px 5px rgba(0, 0, 0, 0.04) !important;
}
// .card-body {
//     min-height: 15vw;
// }

.card-header {
    background: #e4e4e5;
    color: #000;
    font-size: 5px !important;
    padding: 1rem 1.5rem;
}