.menu-item-section {
  border: none !important;
  background-color: #fff;
  color: #000;
  padding: 10px 30px !important;
}

.main-menu.menu-light .navigation li a {
    padding: 2.5px 20px !important;
}