
.table-acrticles th, .table-acrticles td {
  // padding: 0.75rem 2rem;
   text-align: center !important;
 }

 .info-sup{
  border-top: 2px #2272c5 solid;
  margin-top: 2rem !important;
  border-bottom: 2px #2272c5 solid;
 }



.Retenue-garantie{
  text-align: left;
  font-weight: bold;

 
}

.table-acrticles th, .table-acrticles td {
  // padding: 0.75rem 2rem;
   text-align: center !important;
  
 }
 .table-acrticles{
   margin-top: 20px  !important;
 }

 .custom-control.custom-checkbox {
  width: 5%;
  float: right;
}