.btn-secondary {
  color: white !important;
  background-color: #2DCEE3 !important;;
  border-color: #2DCEE3 !important;;
  }
  .validationMsg{
      color: red;
      font-size: 0.8rem;
  }

  .ui-button-success{
      height: 20px !important;

  }