.container-fluid {
  margin-top: 20px;
}

table {
  width: 100%;
  border: none;
}

td {
  border: 1px solid black;
  width: 50%;
  margin: 0 !important;
  padding: 0 !important;
}

thead tr {
  background-color: #f3f3f3;
  color: #000;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

li {
  float: left;
  width: 8.33%;
  padding: 0;
  margin: 0;
  background: #f3f3f3;
  color: #000;
  border-right: 1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
}

tbody td {
  padding: 0px 0px !important;
}

td.periodicite {
  padding: 0 !important;
  background-color: #fff;
}

.periodicite ul {
  background: #fff;
}

td.periodicite ul li {
  background: white !important;
  text-align: center;
  color: #000;
  height: 38px;
  padding-top: 0.6rem;
  font-size: 15px;
}

tr.lot td {
  background-color: #dddddd;
  padding: 6px 20px 5px 20px !important;
  height: 50px;
  line-height: 30px;
  font-size: 15px;
}

tr.lot td:nth-child(2) {
  padding: 0px 0px 0px 0px !important;
  ul {
    li {
      padding: 10px 0px;
    }
  }
}

button.btn.btn-danger.btn-sm {
  padding: 0px 5px;
}

.btn-group-custom > button {
  padding: 8px 10px 4px 10px;
}

.btn-sm-action {
  width: 75px;
  height: 35px;
  margin: 0px 2px;
  line-height: 10px !important;
  font-size: 12px !important;
  font-family: sans-serif !important;
  border: 1px #93989e solid;
  color: white;
  padding: 0 !important;
}

.input-sm {
  margin: 0px 0px;
  height: 35px;
}

.btn-sm {
  padding: 5px 12px !important;
}

