<div class="container-fuild">
    <div class="col-12 content-header-right" style="min-height: 2rem;">
        <!-- <div class="resteAPayer">
            Reste à payer : {{  resteAPayer | RoudingNumber | ShowCurrency }}
        </div> -->
        <button type="button" class="btn btn-primary" placement="bottom" ngbTooltip="créer une facture d'acompte"
            (click)="navigateTo()" *ngIf="showBtnAdd">
            créer une facture d'acompte <i class="ft-plus"></i>
        </button>
    </div>
    <div class="col-12">
        <table class="table table-striped table-bordered no-footer dataTable">
            <tr>
                <th *ngFor="let column of factureTableColumns">
                    {{ column }}
                </th>
            </tr>
            <ng-container *ngIf="!HasNoBills()">
                <ng-container *ngFor="let facture of devisInfos?.facture">
                    <tr *ngIf="facture.typeFacture == typeFacture.Acompte">

                        <td>{{ facture?.reference }}</td>

                        <!-- status de facture-->
                        <td *ngIf="facture?.status == statutFacture.Brouillon">
                            <span class="badge badge-default badge-brouillon">
                                {{'labels.brouillon' | translate}}
                            </span>
                        </td>
                        <td *ngIf="facture?.status == statutFacture.Encours">
                            <span class="badge badge-default badge-planifiee">
                                {{'labels.encours' | translate}}
                            </span>
                        </td>
                        <td *ngIf="facture?.status == statutFacture.Cloture">
                            <span class="badge badge-default badge-success">
                                {{'labels.cloturee' | translate}}
                            </span>
                        </td>
                        <td *ngIf="facture?.status == statutFacture.Enretard">
                            <span class="badge badge-default badge-enretard">
                                {{'labels.enretard' | translate}}
                            </span>
                        </td>
                        <td *ngIf="facture?.status == statutFacture.Annule">
                            <span class="badge badge-default badge-annuler">
                                {{'labels.annulee' | translate}}
                            </span>
                        </td>
                        <td>
                            {{ facture?.dateCreation | date: 'dd/MM/yyyy' }}
                        </td>

                        <td>
                            {{ facture?.dateEcheance | date: 'dd/MM/yyyy' }}
                        </td>
                        <td>
                            {{ facture?.pourcentage }} %
                        </td>
                        <td class="text-right">
                            <span class="display-price">{{ facture?.total | RoudingNumber | ShowCurrency }}
                            </span><br />
                            <small style="font-style: italic;"
                                *ngIf="facture?.status == statutFacture.Encours || facture?.status == statutFacture.Enretard">
                                ({{ 'labels.restePayer' | translate }}
                                {{ facture?.restePayer | RoudingNumber | ShowCurrency }})
                            </small>
                        </td>

                        <td class="actions">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary btn-md btn-actions" placement="bottom"
                                    ngbTooltip="{{ 'toolip.detail' | translate }}"
                                    [routerLink]="['/factures/detail', facture?.id]">
                                    <i class="ft-eye"></i>
                                </button>

                            </div>
                        </td>

                    </tr>
                </ng-container>
            </ng-container>
            <tr *ngIf="HasNoBills()">
                <td colspan="7" style="text-align: center;">
                    {{ 'noDataAvaible' | translate }}
                </td>
            </tr>
        </table>
    </div>
</div>