<recherche-avancee>
  <div class="recherche-avancee-body">

    <div class="ui-g ui-fluid" *ngIf="dateLang">

      <div class="ui-g-6 ui-md-3">
        <h6 style="font-weight: bold">{{'labels.choisirPeriode' | translate }}</h6>
        <ng-select [hideSelected]="true" bindLabel="name" notFoundText="{{'labels.noFoundItem' | translate}}"
          [(ngModel)]="periode">
          <ng-option [value]="periodeEnum.MOIS_ACTUAL">{{ 'labels.moisCourant' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.TROIS_DERNIERE_MOIS">{{ 'labels.troisMois' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.SIX_DERNIERE_MOIS">{{ 'labels.sixMois' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.ANNEE_ACTUAL">{{ 'labels.anneeCourant' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.ANNEE_DERNIERE">{{ 'labels.anneeDerniere' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.EXERCICE_COMPTABLE_COURANT">
            {{ 'labels.exerciceComptableCourant' | translate }}</ng-option>
          <ng-option [value]="periodeEnum.TOUS">{{ 'labels.tous' | translate }} </ng-option>
          <ng-option [value]="periodeEnum.INTERVALLE">{{ 'labels.intervalle' | translate }}</ng-option>
        </ng-select>
      </div>

      <ng-container *ngIf="periode == periodeEnum.INTERVALLE">
        <div class="ui-g-6 ui-md-3">
          <h6 style="font-weight: bold">{{ 'labels.dateMinimale' | translate }}</h6>
          <p-calendar [(ngModel)]="dateMinimal" [inputStyle]="{'height':'33px'}" [locale]="dateLang"
            showButtonBar="true" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
        </div>

        <div class="ui-g-6 ui-md-3">
          <h6 style="font-weight: bold">{{ 'labels.dateMaximale' | translate }}</h6>
          <p-calendar [(ngModel)]="dateMaximal" [inputStyle]="{'height':'33px'}" [locale]="dateLang"
            showButtonBar="true" dateFormat="dd/mm/yy" showIcon="true"></p-calendar>
        </div>
      </ng-container>

    </div>

    <div class="ui-g ui-fluid pull-right btn-search" *ngIf="dateLang">
      <button class="btn btn-success" (click)="filter()">
        <i class="ft-search"></i>&nbsp;{{ 'labels.filter' | translate }}
      </button>
    </div>

  </div>
</recherche-avancee>

<section id="multi-column" *ngIf="journalVenteTableColumns">
  <div class="row p-1">
    <div class="col-12">
      <div class="float-md-right">
        <button class="btn btn-success" (click)="exporter()"><i class="fa fa-upload"></i>
          {{ 'labels.export' | translate }}</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="card">

        <div class="card-content collapse show">
          <div class="card-body card-dashboard">

            <show-hide-table-columns [columns]="journalVenteTableColumns" [tableName]="nameModule+'Table'"
              [btnLabel]="'Afficher_Masquées_Les_Colonnes' | translate" [showAll]=" 'list.montreTout'  | translate"
              [showNone]=" 'list.montrerAucun'  | translate" [checkedColumns]="checkedColumns"
              (selectColumn)="SetCheckedColmuns($event)">
            </show-hide-table-columns>

            <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered"
              style="width:100%" id="{{ nameModule+'Table' }}">
              <thead>
                <tr>

                  <ng-container *ngFor="let column of journalVenteTableColumns;let index = index">
                    <th *ngIf="journalVenteTableColumns.length-1 != index"> {{column}}</th>
                  </ng-container>

                  <th class="actions">
                    {{journalVenteTableColumns[journalVenteTableColumns.length-1]}}
                  </th>

                </tr>
              </thead>
              <tbody *ngIf="journalVentes?.list?.length > 0">

                <tr *ngFor="let journalVente of journalVentes?.list">

                  <td [hidden]="checkedColumns[0]">{{ journalVente?.codeJournal }}</td>
                  <td [hidden]="checkedColumns[1]">{{ journalVente?.dateCreation | date:'dd/MM/yyyy' }}</td>
                  <td [hidden]="checkedColumns[2]">{{ journalVente?.numeroCompte }}</td>
                  <td [hidden]="checkedColumns[3]">{{ journalVente?.numeroPiece }}</td>
                  <td [hidden]="checkedColumns[4]">{{ journalVente?.nomClient }}</td>
                  <td [hidden]="checkedColumns[5]">{{ journalVente?.debit | RoudingNumber | ShowCurrency }}</td>
                  <td [hidden]="checkedColumns[6]">{{ journalVente?.credit | RoudingNumber | ShowCurrency  }}</td>

                </tr>

              </tbody>
              <tbody *ngIf="journalVentes?.list?.length == 0">
                <tr>
                  <td colspan="7" class="no-data-available">{{'noDataAvaible' | translate}}</td>
                </tr>
              <tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <div class="page-loading" [ngClass]="{'page-loading-active': loading}">
    <img src="assets/app/images/oval.svg" class="loading-icon" />
  </div> -->