
btn-remove{
  font-size: 25px;
  color: red;
  position: relative;
  top: 5px;
}

 btn-download{
  font-size: 25px;
  color: #065cb3;
  position: relative;
  top: 5px;
}
.modal-body {
  overflow: auto;
}

.btn-lg,.btn-light,
.btn-group-lg>.btn {
    padding: 1rem 1.25rem !important;
    font-size: 1.25rem !important;
    line-height: 0.75 !important;
    border-radius: 0.27rem !important;
    font-size: 15px !important;
}

.btn-sm,
.btn-group-sm>.btn {
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    line-height: 1.73rem !important;
    border-radius: 0.21rem !important;
}
