@media only screen and (min-width: 1300px) {
    show-hide-table-columns {
     position: relative !important;
     float: right !important;
     } 
 }
 
 @media only screen and (max-width: 1300px) {
     show-hide-table-columns {
         position: relative !important;
         margin-bottom: 5rem !important;
         top: -2rem !important;
     }
 }
.no-data-available {
    text-align: center;
}

