<div class="content-header-right col-md-12 col-12">
    <div class="btn-group float-md-right" role="group" aria-label="Button group with nested dropdown"
        style="margin-top: 1rem;">


        <!-- <a *ngIf="ficheIntervention" data-toggle="modal" data-target="#PdfView"
            class="btn btn-secondary btn-telecharger" (click)="generatePDFBase64(ficheIntervention?.id)"
            style="color:white; margin-right: 1rem;" placement="bottom" ngbTooltip="{{'labels.PdfView' | translate}}">
            {{ 'labels.PdfView' | translate }}
            <i class="ft-eye"></i>
        </a> -->
        <a *ngIf="ficheIntervention?.status != statutFicheIntervention.Realisee &&  ficheIntervention?.status != statutFicheIntervention.Facturee  "
            class="btn btn-primary text-white" [routerLink]="['/ficheintervention/modifier',ficheIntervention?.id]">
            {{'labels.modifier' | translate}} <i class="ft-edit"></i>
        </a>
        <span style="width:12px"></span>
        <p-splitButton label="{{ 'labels.actions' | translate }}" [model]="items" styleClass="ui-button-primary">
        </p-splitButton>

    </div>



</div>

<div class="content-header row">
    <div class="content-header-left  col-12 mb-2">
        <div class="row">
            <div>
                <h3 class="content-header-title">{{'show.title' | translate}} {{ ficheIntervention?.reference }} </h3>

            </div>
            <div>
                <button type="button" class="btn btn-round" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false"
                    [ngClass]="{
                        'badge-brouillon':ficheIntervention?.status == statutFicheIntervention.Brouillon,
                        'badge-planifiee': ficheIntervention?.status == statutFicheIntervention.Planifiee,
                        'badge-success':ficheIntervention?.status == statutFicheIntervention.Realisee,
                        'badge-annuler':ficheIntervention?.status == statutFicheIntervention.Annulee,
                        'badge-Facturee':ficheIntervention?.status == statutFicheIntervention.Facturee,
                        'dropdown-toggle':ficheIntervention?.status != statutFicheIntervention.Realisee && ficheIntervention?.status != statutFicheIntervention.Facturee}">
                    {{ getLabelleByStatut(ficheIntervention?.status) }}
                </button>
                <div *ngIf="ficheIntervention?.status != statutFicheIntervention.Realisee || ficheIntervention?.status != statutFicheIntervention.Facturee"
                    class="dropdown-menu" x-placement="bottom-start">
                    <p class="dropdown-item title">{{'labels.ChangementStatut' | translate}}</p>
                    <p class="dropdown-item" (click)="changeStatutFicheIntervention(statutFicheIntervention.Planifiee)"
                        *ngIf="ficheIntervention?.status == statutFicheIntervention.Brouillon || ficheIntervention?.status == statutFicheIntervention.Annulee ">
                        {{'labels.planifiee' | translate}}
                    </p>
                    <p class="dropdown-item" (click)="changeStatutFicheIntervention(statutFicheIntervention.Brouillon)"
                        *ngIf="ficheIntervention?.status == statutFicheIntervention.Planifiee || ficheIntervention?.status == statutFicheIntervention.Annulee">
                        {{'labels.brouillon' | translate}}
                    </p>
                    <p class="dropdown-item" (click)="changeStatutFicheIntervention(statutFicheIntervention.Annulee)"
                        *ngIf="ficheIntervention?.status == statutFicheIntervention.Planifiee">
                        {{'labels.annulee' | translate}}
                    </p>


                </div>
            </div>
        </div>

        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a [routerLink]="['/ficheintervention']">{{'title' | translate}}</a>
                    </li>
                    <li class="breadcrumb-item active">{{'show.title' | translate}}
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content-body">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-content">
                <div class="card-body">
                    <ul class="nav nav-pills nav-pill-bordered">
                        <li class="nav-item">
                            <a class="nav-link active" id="client-tab" data-toggle="pill" href="#client"
                                aria-expanded="true">{{
                      'show.information' | translate }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="memos-tab" data-toggle="pill" href="#memos" aria-expanded="false">{{
                    'show.memo' | translate }} <span class="memo-badge">{{ memos?.length }}</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="historique-tab" data-toggle="pill" href="#historique"
                                aria-expanded="false">{{
                      'show.historique' | translate }}</a>
                        </li>
                    </ul>
                    <div class="tab-content px-1 pt-1">
                        <div role="tabpanel" class="tab-pane active" id="client" aria-labelledby="client-tab"
                            aria-expanded="true">
                            <app-informations [ficheIntervention]="ficheIntervention" [client]="client">
                            </app-informations>
                        </div>
                        <div class="tab-pane" id="memos" role="tabpanel" aria-labelledby="memos-tab"
                            aria-expanded="false">
                            <common-memos [memos]="memos" (valueChange)='saveMemo($event)'
                                (download)="downloadPieceJointe($event)" [processIsStarting]="processIsStarting">
                            </common-memos>
                        </div>
                        <div class="tab-pane" id="historique" role="tabpanel" aria-labelledby="historique-tab"
                            aria-expanded="false">
                            <common-historiques [historique]="historique"></common-historiques>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade text-left" id="sendByMail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel98"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="myModalLabel98">
                        <i class="ft-file-minus"></i> {{ 'labels.sendByMail' | translate }}
                    </h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <div class="card-body">
                        <form [formGroup]="formSendEmail">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control"
                                            for="to">{{ 'labels.to' | translate }}</label>
                                        <div class="col-md-9">
                                            <input type="text" id="to" class="form-control" formControlName="emailTo">
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-9 validationMsg"
                                            *ngIf="formSendEmail?.touched && formSendEmail?.controls?.emailTo?.errors?.required">
                                            {{ 'labels.emailRequired' | translate }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control"
                                            for="objet">{{ 'labels.objet' | translate }}</label>
                                        <div class="col-md-9">
                                            <input type="text" id="objet" class="form-control" formControlName="object">
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-9 validationMsg"
                                            *ngIf="formSendEmail?.touched && formSendEmail?.controls?.object?.errors?.required">
                                            {{ 'labels.objectRequired' | translate }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control"
                                            for="contents">{{ 'labels.contents' | translate }}</label>
                                        <div class="col-md-9">
                                            <textarea class="form-control" id="contents" formControlName="contents"
                                                style="width: 100%; border: 1px #ccd6e6 solid;padding: 1rem;min-height: 10rem;border-radius: 5px;"></textarea>
                                        </div>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-9 validationMsg"
                                            *ngIf="formSendEmail?.touched && formSendEmail?.controls?.contents?.errors?.required">
                                            {{ 'labels.contentsRequired' | translate }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-light"
                        data-dismiss="modal">{{ 'labels.cancel' | translate }}</button>
                    <button type="button" class="btn btn-success btn-lg"
                        (click)="envoyer()">{{ 'labels.send' | translate }}</button>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="modal fade text-left" id="PdfView" tabindex="-1" role="dialog" aria-labelledby="PdfView"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title" id="PdfView">
                        <i class="ft-file-minus"></i>
                        {{ 'labels.VisualiserPdf' | translate }}
                    </h4>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>
                <div class="modal-body">
                    <div class="card-body download-Model">

                        <app-visualiser-pdf [base64]="base64"></app-visualiser-pdf>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn grey btn-secondary"
                        data-dismiss="modal">{{ 'labels.cancel' | translate }}</button>
                    <button type="button" class="btn btn-success" (click)="generatePDF()">
                        {{ 'labels.telecharger' | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div> -->


    <custom-loader [displayLoader]="processing"></custom-loader>