.content-body {
  text-align: center;
}
img {
  width: 25%;
  margin: auto;
  height: 100%;
  opacity: 0.3;
}
h2.brand-text {
    color: white;
    position: relative;
    top: -15%;
    opacity: 0.3;
}